/vendor/
/bootstrap/cache
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
.env
.env.*.backup
.env.testing
/node_modules
/public/hot
/public/storage
/public/dist
/resources/js/*.local.js
.vite
composer.lock
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
docker-compose.override.yml
docker-compose.dev.yml
*.pid
*.log
*.bak
.phpunit.result.cache
/tests/Browser/screenshots
/tests/Browser/console
node_modules/
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json